html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#desktop {
    width: 100%;
    height: 100%;
    background-image: url("https://downloadscdn6.magnific.com/23/2150797/2150796421.jpg?filename=3d-rendering-hexagonal-texture-background.jpg&token=exp=1786425209~hmac=53c97c295fd9584b81c6c571dd374f41&filename=2150796421.jpg");
    background-size: cover;
    background-position: center;
}